/* Section Service
------------------------------*/

.service {
  position: relative;
  height: 100%;
  min-height: 576px;
  @extend %section;
  overflow: hidden;

  &__cover {
    @include cover-image(url("./images/main_02.jpg"));
    opacity: .85;
  }
}
