/**
 * Project - Live Section
 */

.liveSection {
  &__wrapper {
    background: linear-gradient(135deg, #d3171a 35%, #1b3168 65%);
  }

  &__container {
    @include container();
    padding: 4.5rem 0;
  }

  &__liveVideo { // *1.35
    display: block;
    width: 21.6rem;
    height: 12.15rem;
    margin: 0 1.2rem;
    box-shadow: 0 0 1rem 1rem rgba(255, 255,255, 0.7);
  }

  @media (min-width: breakpoint("sm")) {
    &__liveVideo { // *2
      width: 32rem;
      height: 18rem;
      margin: 0 2rem;
    }
  }

  @media (min-width: breakpoint("md")) {
    &__liveVideo { // *3
      width: 48rem;
      height: 27rem;
      margin: 0 3rem;
    }
  }

  @media (min-width: breakpoint("lg")) {
    &__liveVideo { // *4
      width: 64rem;
      height: 36rem;
      margin: 0 4rem;
    }
  }
}
