/**
 * Component - Cover
 */

.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./assets/cover.jpg") no-repeat center center / cover scroll;
    opacity: 1;
    transition: 1s linear opacity;

    &.--fade {
      opacity: 0;
      transition: none;
    }
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
}
