// Front - main

.front-sec {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

#front-about {
  @include background("primary-dark");
}

#front-works {
  background-color: #ffffff;
}

#front-news {
  background-color: rgba(217, 217, 217, .85);
}

#front-gallery {
  background-color: rgba(0, 0, 0, .85);
  color: #ffffff; 
}

#front-access {
  background-color: gray(850);
}

#front-contact {
  background-color: #ffffff;
}

.front-sec-heading {
  margin-bottom: 6rem;
  font-size: 1.75rem;
  text-transform: capitalize;
}
