// Front - works

#front-works {
  .works {
    align-items: center;
  }

  .featured-image,
  .works-intro {
    @include col("lg", 6);
    margin-bottom: 2rem;
  }

  .works-intro-text {
    margin-bottom: 2rem;
    text-align: center;
  }

  .works-intro-btn {
    @include button("lg");
  }
}
