// Front - About

#front-about {
  padding-bottom: 4.5rem !important;

  .front-sec-heading {
    margin-bottom: 1.5rem !important;
  }

  .about {
    align-items: center;
  }

  .featured-image,
  .about-intro {
    @include col("lg", 6);
    margin-bottom: 2rem;
  }

  .featured-image img {
    max-width: 75%;
  }

  @media (min-width: breakpoint("lg")) {
    .featured-image {
      order: 2;
    }

    .about-intro {
      order: 1;
    }
  }

  .about-intro-text {
    margin-bottom: 2rem;
    text-align: center;
  }

  .about-intro-btn {
    @include button("lg", "light");
  }
}
