// Front - About

#front-about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;

  .front-sec-heading {
    margin-bottom: 3rem;
  }

  .featured-image {
    width: 12rem;
    margin: 2rem auto;
  }

  .about-intro-text {
    font-family: $heading-font-family;
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: .125rem;
  }

  .about-intro-btn {
    @include button("md", "tertiary");
    font-style: italic;
  }
}
