// Page main

.page-sec {
  @include row();
  margin-bottom: 6rem;
  justify-content: space-around;
  align-items: center;

  .primary-col, .secondary-col {
    @include col("lg", 5);
  }

  .page-title {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    text-align: center;
  }

  ul, p, img {
    width: 36rem;
    max-width: 100%;
    margin: .5rem auto;
  }

  ul {
    padding-left: 1.5rem;
  }

  @media (min-width: breakpoint("lg")) {
    &:nth-child(even) {
      .primary-col {
        order: 2;
      }
  
      .secondary-col {
        order: 1;
      }
    }
  }
}
