/**
 * Utility - Grid
 */

.grid {
  & > div {
    @include row();
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  &.--switched > div {
    flex-direction: row-reverse;
  }

  &.--center > div {
    justify-content: center;
  }

  &.--left > div {
    justify-content: flex-start;
  }

  &.--top > div {
    align-items: flex-start;
  }

  @for $i from 2 through 12 {
    &__#{$i} {
      @include col();
      padding-left: .75rem;
      padding-right: .75rem;
      
      @if ($i == 2) {
        @include col("sm", 6);
      }

      @if ($i == 3) {
        @include col("md", 6);
      }
      
      @include col("lg", $i);
    }
  }

  .wp-block-image,
  .wp-block-image figure {
    margin-bottom: 0;
  }
}
