/* Layout Article
------------------------------*/

.article {
  margin: 3rem 0;

  // Header only for the default post type
  &__header {
    margin-bottom: 2rem;
  }

  &__date {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }

  &__title {
    display: inline-block;
    margin: .5rem 0;
    font-size: 1.2rem;
    line-height: 1.25; // Make 2.5rem height by margin, font-size and line-height
    vertical-align: bottom;
  }

  &__terms {
    display: inline-block;
    margin-bottom: 0;
    @include list-unstyled();
    vertical-align: bottom;
  }

  &__term {
    display: inline-block;
    margin-left: .75rem;
    margin-bottom: 0;

    a {
      display: inline-block;
      @include button("sm", "light");
      font-size: 1rem;
      line-height: 1.25; // Make 2.5rem height by button mixin and line-height
    }
  }

  &__content {
    margin-bottom: 2rem;
  }

  &__image {
    margin-bottom: 2rem;
    text-align: center;

    a:hover img {
      opacity: .7;
    }
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: .25rem;
    border-bottom: .25rem double theme-color("primary");
    font-size: 1.33rem;
  }

  h4 {
    font-weight: bold;
    font-size: 1.17rem;
  }
}
