/**
 * Layout - G Nav
 */

 .gNav {
  height: $siteBrandHeight;

  @media (min-width: breakpoint("lg")) {
    @include row();
  }

  &__primaryMenu, &__socialMenu {
    @include row();
    margin-top: 0;
    margin-bottom: 0;
  
    li  {
      margin-bottom: 0;
      border-left: 2px solid themeColor("lightest");
      
      a {
        display: block;
        padding: .25rem 1.5rem;
        color: themeColor("lightest");
        font-family: monospace;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        transition: opacity .35s ease-in-out;

        &:hover {
          text-decoration: none;
          opacity: .7;
        }
      }

      &:first-child {
        border-left: 0;
      }
    }
  }
}
