/* Layout Header
------------------------------*/

.site-header {
  position: relative;
  width: 100%;
  height: 15rem;
  border-bottom: .125rem solid theme-color("dark");
  overflow: hidden;

  &__container {
    @include container();
    height: 100%;
  }

  &__inner {
    @include row();
    height: 100%;
    align-items: center;;
  }

  &__title {
    @include col();
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
    font-family: $font-family-serif;
    font-weight: $font-weight-serif;
  }

  &__cover {
    @include cover-image(url("./images/main_01.jpg"), blur(2px));

    &--about {
      @include cover-image(url("./images/main_00.jpg"), blur(2px));
    }

    &--service {
      @include cover-image(url("./images/main_02.jpg"), blur(2px));
    }

    &--shop {
      @include cover-image(url("./images/main_03.jpg"), blur(2px));
    }

    &--recruit {
      @include cover-image(url("./images/main_04.jpg"), blur(2px));
    }

    &--kindergarten {
      @include cover-image(url("./images/main_05.jpg"), blur(2px));
    }
  }
}

.brand-home {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  margin: 1.5rem .75rem;

  img {
    width: 13.5rem; // height: 4.5rem
  }

  @media (min-width: breakpoint("lg")) {
    display: block;
  }
}

.nav-toggler {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: block;
  margin: .75rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  line-height: 1;
  outline: 0;
  cursor: pointer;

  img {
    width: 4.5rem;
  }
}
