/**
 * Layout - Header
 */

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000; // 基準
  background-color: $bodyBg;
  transition: .35s ease-in-out all;

  &__container {
    @include container();
    @include row(flex-start);
    height: $headerHeight;

    @media (min-width: breakpoint("lg")) {
      justify-content: center;
    }
  }
}
