/* Layout Main
------------------------------*/

%section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

%section__heading {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.04em;
}

%section__text {
  margin-bottom: 6rem;
}

.main {
  &__title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  &__container {
    @include container();
  }

  &__inner {
    @include row();
    justify-content: space-around;
  }

  &__primary {
    @include col("lg", 8);
    max-width: 40rem;
    
    @media (min-width: breakpoint("lg")) {
      max-width: 40rem;
    }

    &--page {
      @include col("lg", 12);
    }
  }

  &__secondary {
    @include col("lg", 3);
    max-width: 15rem;
    
    @media (min-width: breakpoint("lg")) {
      max-width: 15rem;
    }
  }
}
