/**
 * Layout - Site Brand
 */

.siteBrand {
  margin-top: 0;
  margin-bottom: 0;
  font-size: $h2FontSize;
  line-height: $siteBrandHeight;
  
  a {
    display: block;
  }

  img {
    display: block;
    width: auto;
    height: $siteBrandHeight;
  }
}
